.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: var(--slack-color);
    color: white;
}

.header-left{
    flex: 0.3;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-left > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: 30px;
}

.header-search{
    flex: 0.4;
    background-color: #421f44;
    text-align: center;
    display: flex;
    padding: 0 50px;
    color: gray;
    border: 1px gray solid;
    border-radius: 6px;
}

.header-search >input{
    background:transparent;
    border: none;
    text-align: center;
    min-width: 35vw;
}

.header-right{
    flex: 0.3;
    display: flex;
    align-items: flex-end;
}

.header-right > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
   
    .header-search{
        min-width: 35vw;
        padding: 0 5px;
    }

    .header-left > .MuiSvgIcon-root{
        margin-left: 10px;
    
    }
}