.login {
	height: 100vh;
	display: grid;
	place-items: center;
	background-color: #f8f8f8;
}

.login-container {
	padding: 100px;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #d4d4d4, -5px -5px 10px white;
}

.login-container > img {
	object-fit: contain;
	width: 100px;
}

.login-container > h1 {
	margin-top: 40px;
}

.login-container > button {
	margin-top: 20px;
	text-transform: inherit;
	background-color: green;
	color: white;
}

.login-container > button:hover {
	background-color: darkgreen;
}

@media only screen and (max-width: 600px) {
   
	.login-container {
		padding: 50px;
		margin-bottom: 50px;
	}
	
}